/* HomeTop.css */
.container {
    width: 97%;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }
  
  .no-border {
    padding: 1.5rem;
    vertical-align: top;
    border-top: .5px solid #dee2e6;
    
  }
  
  .table thead th {
    vertical-align: bottom;
    /* border-bottom: 2px solid #dee2e6; */
  }
  
  .table tbody + tbody {
    /* border-top: 2px solid #dee2e6; */
  }
  
  .table .table-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .table .table-title1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 130px;
}
  
  .table .plus {
    list-style-type: none;
    padding-left: 0;
  }
  
  .table .plus li {
    padding-left: 1.2em;
  }
  
  .table .plus li:before {
    content: "+";
    margin-right: 10px;
    left: 0;
    color: #0551FD;
    font-weight: bold;
  }
  
  .table th.text-center,
  .table td.text-center,.text-center {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .table td.no-border {

  }
  
  .row1 {
    display: flex;
    flex-direction: row;
  }
  
  .col-md-6 {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 50%;
  }
  
  .padding-3 {
    padding: 1rem;
  }
  
  .padding-4 {
    /* padding: 1.5rem; */

  }
  .full-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .b-right {
    border-right: 1px solid #dee2e6;
  }
  
  .reviews-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .reviewer-name {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .review-star {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .star-img {
    width: 20px;
    height: 20px;
    background-image: url('../../Assets/pngegg.png'); /* Replace with actual star image path */
    background-size: cover;
    color: #0551FD;
    margin-right: 5px;
  }
  
  .star-value {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .quote {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1rem;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    background-color: #0551FD;
    border: none;
    margin-top: 200px;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-hvr-dark:hover {
    background-color: black ;
  }
  