/* DeviceList.css */
.device-list-container {
    background-color: ghostwhite;
    text-align: center;
    padding: 2rem;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #0551FD;
  }
  
  .device-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .device-item {
    flex: 1;
    margin: 0 1rem;
    max-width: 200px;
  }
  
  .device-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .device-name {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow {
    color: #0551FD;
    margin-left: 0.5rem;
  }
  
  .btnz {
    display: inline-block;
    padding: 10px 20px;
    margin: 5rem 0;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    background-color: #0551FD;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn-hvr-dark:hover {
    background-color: black;
  }
  